/* #jetDiv {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    font-family:'Work Sans',Impact,Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  } */
  
  .parallax {
    /* The image used */
    background-image: url("jet.png"),url("rays.png");
  
    /* Animation */
    animation: animateJet forwards 2s ease-in;

    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    max-width: 2160px;
  }

  @keyframes animateJet{
      from {background-size:20px,0px;background-position: 50% 10%, 50% 100%;}
      to {background-size: 700px,1000px;background-position: 50% 5%, 50% 0%;}
  }

  .navbar {
      margin-bottom:0px;
  }
  /* #topText{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:3vw;
    text-align:center;
  }
  #bottomText{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:3vw;
    text-align:center;
  } */

  